<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <script src="app.js"></script>

</head>

<body ng-app="joebApp">

    <div ng-controller="joebController">
        <div layout="column" layout-fill>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span>Gingiel-Bordon Basestar</span>
                    <!-- fill up the space between left and right area -->
                    <span flex></span>
                    <!-- 				<md-button> Right Bar Button </md-button> -->
                </div>
            </md-toolbar>
        </div>
        <md-content layout="row" layout-xs="column" layout-wrap layout-align="space-around">
            <md-card flex-xs="100" flex="30">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Switches</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column" layout-align=" end">
                    <md-switch>
                        Porch Light
                    </md-switch>
                    <md-switch>
                        Lower Bathroom Light
                    </md-switch>
                    <md-switch>
                        Lower Bathroom Fan
                    </md-switch>
                    <!--                    </div>-->
                </md-card-content>
            </md-card>
            <md-card flex-xs="100" flex="30">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Climate</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <div flex>
                        <span ng-model="temp" class="md-body-2">Temperature: {{temp}}</span>
                    </div>
                    <div flex>
                        <span ng-model="humid" class="md-body-2">Humidity: {{humid}}</span>
                    </div>
                </md-card-content>
                <md-card-actions layout="column">
                    <md-slider-container flex layout="row" layout-align="center center">
                        <span flex="25" class="md-body-1">Setpoint</span>
                        <md-slider flex="50" min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider">
                        </md-slider>
                        <md-input-container flex="25">
                            <input type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
                        </md-input-container>
                    </md-slider-container>
                    <md-input-container>
                        <label>Mode</label>
                        <md-select ng-model="mode">
                            <md-option ng-repeat="mode in hvacModes" value="{{mode}}">
                                {{mode}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-card-actions>
            </md-card>
            <md-card flex-xs="100" flex="30">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Chores</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </md-content>
    </div>
</body>

</html>